.button-toggled {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

@media (prefers-color-scheme: light) {
    .button-toggled {
        background-color: #36375c;
        color: white;
    }
}
